@font-face {
    font-family: 'fuente'; 
    src: url('../fonts/ThunderboltRegular-8MV8M.ttf') 
}

body {
    color: white;
    background-color: rgb(123, 36, 36);
}

a {
    color: white;
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo_container {
    width: 10%;
    min-width: 80px;
}

#logo {
    width: 100%;
    object-fit: fill;
}

.img{
    width: 150px;
    height: 200px;
    border-radius:10% ;
    margin-top: 100px;
    
}
.img2{
    width: 170px;
    height: 170px;
    border-radius:10% ;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#comicsInfo {
    display: flex;
    flex-wrap: nowrap;  
    margin-left: 50px;
    margin-top: 50px;
    
}

.imagenes{
    margin-top: 50px;
    margin-left: 0px;
}
#personajeInfo {
    display: flex;
    flex-wrap: nowrap;  
    margin-left: 50px;
    margin-top: 50px;
}
.personaje:hover {
    transform: scale(1.2);
}
.comicsTransiciones:hover {
    transform: scale(1.1);
}
.personaje{
    width: 250px;
    height: 250px;
    background-color: rgb(32 0 0);
    border-radius: 20px;
    background-image: linear-gradient(180deg, transparent, #ab1b8091, #440202, transparent);
    margin: 10px;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(226, 36, 169);
    font-family: 'fuente'; 
}

.personajeTexto{
    font-size: 20px;
}

.buscar-container {
    text-align: center; 
    margin-top: 20px;
}

.barrabuscar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(233, 230, 230);
    color: rgb(3, 3, 3);
    margin-right: 10px;
}

.buscarPersonajes{
    text-align: center; 
    margin-top: 20px;
}
.boton-buscar{
    text-align: center; 
    margin-top: 20px;
}
#boton {
    color: white;
    background-color: #ff0909; 
    border: hidden;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s; 
}

#boton:hover {
    color: #ec1e1ee1; 
    background-color: rgb(10, 10, 10);
    border: hidden;
}


#comicsInfo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -50px;
    max-width: 100%; 
    width: auto;
    box-sizing: border-box;
    height: auto;
    transition: transform 0.3s ease;
}

.linea{
    margin-top: 140px;
    border: #440202 1px solid ;
}